body{
    margin: 0;
    padding: 0;
}
.header{
    height: 400px;
    background-color: tan;
}
.logo-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.item1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80px;
    width: 140px;
    font-weight: 300;
    font-size: 50px;
}
.item3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80px;
    width: 200px;
    font-weight: 300;
    font-size: 50px;
}
.content{
    height: 1000px;
    background-color: darkgrey;
    border-top: solid 2px gray;
}