body{
    margin: 0;
}
.header{
    height: 400px;
    background-color: tan;
}
.logo-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.item1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80px;
    width: 140px;
    font-weight: 300;
    font-size: 50px;
}
.item3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80px;
    width: 200px;
    font-weight: 300;
    font-size: 50px;
}
.content{
    height: 2600px;
    background-color: darksalmon;
    border-top: solid 2px gray;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item{
    margin: 50px;
    background-color: rgb(219, 195, 163);
    border-radius: 5px;
    border: solid 2px gray;
}
.info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.twitch{
    height: 400px;
    width: 90%;
    transition: all;
    transition-duration: 2s;
}
.twitch:hover{
    height: 420px;
    width: 95%;
}
.tcont{
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.imgt{
    flex-grow: 50%;
}
.tinfo{
    flex-grow: 50%;
}
.tlogo{
    float: right;
    height: 315px;
    width: 500px;
}
.titulot{
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 500%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
}
.linktwitch{
    margin-top: 0;
    margin-left: 50px;
    font-size: 300%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
}
.fecha{
    margin-top: 0;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 300%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;

}
.actriz, .actor, .guion, .animacion, .documental, .corto{
    height: 250px;
    width: 90%;
    transition: all;
    transition-duration: 2s;
}
.actriz:hover{
    height: 270px;
    width: 95%;
}
.actor:hover{
    height: 270px;
    width: 95%;
}
.guion:hover{
    height: 270px;
    width: 95%;
}
.animacion:hover{
    height: 270px;
    width: 95%;
}
.documental:hover{
    height: 270px;
    width: 95%;
}
.corto:hover{
    height: 270px;
    width: 95%;
}
.container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vid{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    width: 20%;
    height: 150px;
    background-color: cadetblue;
    border-radius: 5px;

}
.footer{
    border-top: solid 3px gray;
    height: 200px;
    margin: 0;
    background-color: lightslategray;
}
.creator{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}
